.close_menu_button {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
  
.close_menu_button::before, .close_menu_button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 30px;
  background: #fff;
  border-radius: 2.5px;
}
  
.close_menu_button::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
  
.close_menu_button::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}